@model VendorRegistration.Models.AgentLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AgentLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAgent.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAgent.AgentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
