@model IEnumerable<VendorRegistration.Models.AgentLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Assigned Agents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Back to Vendor", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAgent.AgentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAgent.AgentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
